.list-of-students {
    padding: 20px 0px;
    font-weight: 600;
    font-size: 22px;
}

#userModal {
    background: rgba(0, 0, 0, 0.64);
}

.modal-dialog {
    top: 10%;
}

.h2,
h2 {
    font-size: 22px;
    padding-top: 20px;
}

label {
    margin-left: 5px;
    display: inline-block;
    margin-bottom: .5rem;
}

#overlay {
    text-decoration-color: black;
    position: fixed;
    display: none;
    /* align-content: center; */
    align-content: flex-start;
    /* text-align: center; */
    text-align: left;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    margin-left: 10%;
}

#overlay_1 {
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    margin-left: 35%;
    margin-top: 10%;
}

button {
    align-content: flex-end;
}

#send {
    display: none;
}

.chkbox-cls button{
    margin-top: 5px;
    margin-bottom: 15px;
}
.upload_image_button{
    margin-bottom:5px;
}

.view_lesson_response{
    margin-top: 20px;
}

#is_public_contanier{
    margin-top: 10px;
}

#tour-image-file{
    margin-top: 10px;
}
.lesson_box {
    border: 1px solid #132644;
    border-radius: 5px;
    padding: 10px 15px;
    background: #d3d3d340;
    margin-bottom: 10px;
}
.read_status {
    padding-top: 100px;
    color: #908b8b;
}
.lesson_name {
    font-weight: bold;
    font-size: 18px;
    padding-top: 15px;
}
.lesson_box:hover {
    background: #132644;
    color: white;
}
.read_status:hover {
    color: white;
}
.page_style {
    padding-top: 15px;
}