.iframe_div{
    height:35em;
}
.iframe_screen{
    display:block;
    width: 100%;
    height:100%;
}

.carousel-inner{
    overflow-y: auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1rem auto;
    gap: 1rem;
}

.question_choices ul {
    margin-top: 2rem;
    padding-left: 1rem;
}