.navbar-inverse {
    background-color: #3f8ed0;
    border-color: #3f8ed0;
}
.logo {
    width: 50%;
}
.navbar-brand {
    height:100%;
    padding: 15px 15px;
}
.navbar-toggle {
    position: relative;
    border: 12px solid transparent;
}
.navbar-inverse .navbar-toggle {
    border-color: #3f8ed0;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #3f8ed0;
}
.navbar-nav {
    margin: 13.5px -15px !important;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 2px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #b1e46d;
}
.nav > li a {
    color: white !important;
}
.glyphicon {
    font-size: 35px;
}
.fas{
    font-size: 40px;
}
.common-style {
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.my-profile{
    background: #e9d65d;
    border: 1px solid #e9d65d;
}
.my-meds{
    background: #ff8033;
    border: 1px solid #ff8033;
}
.gps-check{
    background: #7ccb70;
    border: 1px solid #7ccb70;
}
.video-check{
    background: #db79ce;
    border: 1px solid #db79ce;
}
.shelters{
    background: #fc5e5d;
    border: 1px solid #fc5e5d;
}
.shelter-open{
    background:#b1e46d;
    padding: 20px;
    border-radius: 4px;
    color: white;
}
.shelter-close{
    background:#fff;
    padding: 20px;
    border-radius: 4px;
    color: black;
	 margin-bottom: 10px;
}
.shelter-open a{
    text-decoration: underline;
}
.shelter-close a{
    text-decoration: underline;
}

body {
	background-color: grey;
}
.visible-xs{
  display:block;
}
.hidden-md{
    display:none;
  }

.container {
    height: auto !important;
}